*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    min-height: 100vh;
}

.KJDIJDI {
    .sidebar {
        width: 400px;
        min-height: 100vh;
        background-color: #FFF;
        box-shadow: 0px 0px 7px #ddd;
    }
    button.NAJDHKJDJK {
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

.NIDJJKJAKD {
    width: 900px;
    height: 500px;
    background-color: #FFF;
    box-shadow: 0px 0px 7px #ddd;
    top: 10rem;

    .JKSKDKL {
        .LAKLD {
            .KAJDLKDKJ {
                width: 500px;
                height: 372px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;

                .NIDJD {
                    flex-direction: column;
                    align-items: center;
                    vertical-align: middle;
                    min-height: 395px;

                    p {
                        text-align: center;
                        width: 329px;
                        padding-block-start: 1rem;
                        color: #777;
                        font-weight: 500;
                        letter-spacing: .4px;
                    }
                }
            }
        }
    }
}